.cartHeader > th {
    text-align: center;
}

.cartHeader > th:first-child {
    text-align: left;
}

.cardRow {
    border-bottom: solid var(--border) 1px;
}

.cardRow > td {
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
}

.cardRow > td:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

.cardRow > td:first-child img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
    background-color: var(--img-bg);
    border-radius: 8px;
}

.quantityCta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.quantityCta > * {
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.quantityCta > p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}